@import '../constant_elements/Navbar/Navbar';
@import '../pages/homepage/_homepage';
@import '../pages/project_overview/_Project_Overview';

html, body, #root, .main-container {
    padding: 0;
    margin: 0;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background;;
}

.nav-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    background-color: $background;
    position: fixed;

    p {
        font-size: 16px;
        @include header-text;
        color: $primary-text;
    }
}

.page-title {
    font-size: 45px;
    @include header-text;
    color: $primary-text;
    margin-top: 110px;
}

a {
    text-decoration: none;
}

#logo {
    color: $secondary-text;
}