@import "../constant_elements/Navbar/Navbar";
@import "../pages/homepage/_homepage";
@import "../pages/project_overview/_Project_Overview";
@import "../pages/Projects/projects";
@import "../pages/Projects/individual_pieces";
@import "../pages/NotFound/NotFound";

html,
body,
#root,
.main-container {
    padding: 0;
    margin: 0;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    background-color: $background;
    position: fixed;
    z-index: 1;
    p {
        font-size: 16px;
        margin-left: 5%;
        @include header-text;
        color: $primary-text;
    }
}

.page-title {
    font-size: 45px;
    @include header-text;
    color: $primary-text;
    margin-top: 110px;
    width: 13.75rem;
    text-align: center;
}

a {
    text-decoration: none;
}

#logo {
    color: $secondary-text;
}
